
@{
    ViewData["Title"] = "Download file";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<p>Use this area to download movie from S3 bucket.</p>
@using (Html.BeginForm("DownloadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <input type="submit" class="btn btn-primary mt-3 mb-4" value="Download" />
    </div>
}

