@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Welcome</h1>
    <div><img src="~/images/cinema.jpg" alt="Cinema illustration" width="350" height="300" class="mt-5"></div>
</div>
